@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grandstander:ital,wght@0,300;0,500;1,400;1,900&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

:root{
  --orange:#ff7800;
  --black:#130f40;
  --lightcolor:#666;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,-1);
  --border:1rem solid rgba(0,0,0,.1);
  --outline:1rem solid rgba(0.0,0,.1);
  --outline-hover:1rem solid  var(var(--black))
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Grandstander', cursive;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 3s linear;
  background-color: #eee
  
}
a {
  text-decoration: none;
} 
li{
    list-style: none;
}